/**
 * Keyboard Shortcuts Component - Popup modal with shortcuts table
 */

main #keyboard-shortcuts-view {
    display: none;
    z-index: 10000;
    position: relative;
    background-color: white;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightgrey;
    top: 30%;
    left: 43%;
}

main #keyboard-shortcuts-view p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

main #keyboard-shortcuts-view th {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    text-align: left;
}

main #keyboard-shortcuts-view td {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
}

main #keyboard-shortcuts-view td:first-child {
    background-color: #e8eaed;
    padding: 0.3rem;
    border-radius: 3px;
    width: 40px;
    min-width: min-content;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #keyboard-shortcuts-view:focus {
    border: 2px solid #007bff;
}

#shortcuts-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
}

.popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 24px;
    height: 24px;
    font: 16px/24px Tahoma, Verdana, sans-serif;
    color: #757575;
    text-decoration: none;
    background: transparent;
}

#shortcuts-wrapper {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
